/* creditcard.css */

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 50px;
}

form#credit-card {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    position: relative;
    margin: auto;
    width: 500px;
    height: 290px;
}

#card-front, #card-back {
    position: absolute;
    width: 390px;
    height: 250px;
    background-color: #e0e0e0;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

/* Back card, slightly shifted behind */
#card-back {
    z-index: 1;
    top: 40px;
    left: 110px;
    grid-template-columns: 2 / 3;
    grid-template-rows: 2 / 4;
}
/* CARD FRONT */
#card-front {
    z-index: 10;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}


/* Top row: total and image */
#image-container {
    display: flex;
    grid-column: 1 / 3;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0 20px ;
}


#amount {
    font-weight: bold;
    font-size: 16px;
}

.card-image {
    width: 60px;
    height: auto;
}

/* CARD NUMBER */
#number-container {
    grid-column: 1 / 3;
    grid-row: 2;
    padding: 0 20px 0 20px;
}

label {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 3px;
    box-sizing: border-box;
}

/* CARD HOLDER + EXPIRATION */
    #holder-container {
    grid-column: 1;
    grid-row: 3;
    margin-right: 10px;
    padding-left: 20px;
    
}

#holder-container input {
    width: 100%;
    padding: 8px 10px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 3px;
    box-sizing: border-box;
    /* align-self: start; */
}

#expiration-container {
    align-self: start;
}

#exp-inputs {
    gap: 10px;
}

#exp-inputs input {
    width: 50px;
    padding: 8px 10px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 3px;
    box-sizing: border-box;
}


/* CARD BACK */
#card-back {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    align-items: center;
    justify-content: right;
}

#card-stripe {
    width: 100%;
    height: 50px;
    background-color: rgb(56, 55, 55);
    margin-top: 20px;
    right: 0;
    grid-row: 1;
    grid-column: 1 / 3;
}

#cvc-container {
    grid-row: 3;
    grid-column: 2;
    margin-top: 60px;
    width: 70px;
    margin-right: 20px;
    margin-bottom: 30px;
    z-index: 10; /* bring forward */
}

button[type="submit"] {
    margin-top: 350px;
    position: relative;
    grid-column: 3;
    grid-row: 4;
    z-index: 10;
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #f0f0f0;    
}
